* {
    background-color: black;
    box-sizing: border-box;
    
}

header {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 80px;
    color: #fff;
}

p {
    text-align: center;
    color: #4F952F;
    font-size: 40px;
}

#location{
    width: 60%;
    margin: auto;
    display: block;
    border-color: #4F952F;

}

/* .container{
    display: flex;
} */

h6 {
    color: #fff;
    
}

